NODE_ENV=production
NEXT_PUBLIC_API_BASE_URL=https://api.commune.example.ci
NEXT_PUBLIC_APP_NAME=Civitech Commune SaaS
NEXT_PUBLIC_APP_URL=https://www.commune.example.ci
NEXT_PUBLIC_ALT_APP_URL=https://commune.example.ci
NEXT_PUBLIC_MUNICIPALITY_NAME=Commune de Niakara
NEXT_PUBLIC_MUNICIPALITY_SHORT_NAME=Niakara
