PORT=3005
APP_ENV=development
SEED_TENANT_SLUG=niakaramadougou
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/civitech_commune_saas
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=8h
PUBLIC_APP_URL=https://commune.example.ci
PUBLIC_APP_URL_WWW=https://www.commune.example.ci
CORS_ORIGIN=https://commune.example.ci,https://www.commune.example.ci
